html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: $normal;
    color: $lightLavendar;    
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
  width: 75%;
  background-color: $white;
  display: flex;
}

section {
    text-align: center;
    height: 515px;
  width: 50%;

  &.testimonial {
    background: linear-gradient(to top, $lightRoyalBlue, $lightBlue);
    border-radius: 30px;

    h3 {
        margin: 45px;
    }
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        &.score {
            width: 205px;
            height: 205px;
            margin: 0 auto;
            border-radius: 50%;
            background: linear-gradient(to top, $persianBlue, $violetBlue);
            display: block;
        }

        p {

            &.num {
                padding-top: 64px;
                color: $white;
                font-size: 52px;
                margin-bottom: 0;

            }
            &.of {
                margin: 0;
            }
        }
    }
    h2 {
        color: $white;
        margin-bottom: 10px;
    }
    p {
        &.desc {
        height: 64px;
        width: 240px;
            margin: auto;
            padding-bottom: 40px;
        }
    }
  }
  &.signup-form {
    box-shadow: 2px 2px 20px $paleBlue;
    border-radius: 20px;
    text-align: left;
    padding-left: 42px;
     h3 {
        color: $darkGreyBlue;
        padding-bottom: 30px;
        margin-bottom: 0;
     }
     div {
        width: 290px;
        height: 60px;
        &.box {
            display: flex;
            background: $lightRed;
            opacity: 0.2;
        }
     }
     img {
        &.svg {
            width: 15px;
            height: 18px;
            margin: 20px 0;
        }
     }
  }
}

